.custom-modal-class {
    --width: 90%;
    --max-width: 500px;
    --height: auto;
    --background: transparent;
    --backdrop-opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-modal-class::part(backdrop) {
    backdrop-filter: blur(4px);
}

.custom-sheet-modal {
    --border-radius: 20px;
    --height: fit-content;
}

.custom-fullSheet-modal {
    --border-radius: 0 !important;
    --height: 100%;
    --width: 100%;
    overflow: hidden !important;
}

ion-modal:not(.custom-fullSheet-modal)::part(content) {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
}